* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background: linear-gradient(to top, #0dcbffac, rgb(130, 130, 130));
  background-attachment: fixed;
  margin: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#image {
  padding-right: 10px;
}

.LoginBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  border-style: inset;
  border-color: rgba(255, 255, 255, 0.692);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.219);
  /* background: linear-gradient(rgba(0, 64, 255, 0.32), rgb(208, 208, 208)); */
  padding: 20px;
  margin: 170px;
  height: 260px;
  width: 310px;
  gap: 40px;
}

.Logincontain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "playfair display";
}
.button {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#email {
  border-radius: 20px;
  border-style: outset;
  border-color: #5b99c2;
  padding: 5px;
  width: 100%; /* Ensures it takes the full width of the container */
  text-align: left; /* Aligns the text to the left */
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 250px;
  height: 30px;
  padding-left: 20px;
}
#password {
  border-radius: 20px;
  border-style: outset;
  border-color: #5b99c2;
  padding: 5px;
  height: 30px;
  padding-left: 20px;
}
#Login {
  width: 100%; /* Ensures it takes the full width of the container */
  text-align: left; /* Aligns the text to the left */
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 13px;
  padding-top: 25px;
}

#Sign {
  border-radius: 15px;
  border-style: inset;
  border-color: #3da8ffbc;
  padding: 5px;
  width: 100%; /* Ensures it takes the full width of the container */
  text-align: center; /* Aligns the text to the left */
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 70px;
  height: 30px;
  margin-top: 15px;
  margin-left: 4px;
  background-color: #ffffff;
}

#Sign:hover{
  background-color: #54daffac;
  cursor: pointer;
}
