* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background: linear-gradient(to top, #1f316f, white);
  background-attachment: fixed;
  margin: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#image {
  padding-right: 10px;
}

.LoginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-style: inset;
  border-color: rgba(97, 128, 255, 0.692);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.219);
  /* background: linear-gradient(rgba(0, 64, 255, 0.32), rgb(208, 208, 208)); */
  padding: 20px;
  margin: 170px;
  height: 200px;
  width: 310px;
  gap: 40px;
}

.Logincontain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "playfair display";
}
.button {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#Admin {
  border-radius: 20px;
  border-style: outset;
  border-color: #5b99c2;
  padding: 5px;
  width: 280px;
  height: 40px;
  cursor: pointer;
}
#Student {
  border-radius: 20px;
  border-style: outset;
  border-color: #5b99c2;
  padding: 5px;
  height: 40px;
  cursor: pointer;
}
