* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background: linear-gradient(to top, #0051ff, rgb(255, 255, 255));
  background-attachment: fixed;
  font-family: Montserrat;
  min-height: 100vh;
}
input::placeholder {
  color: rgb(0, 0, 0); 
  opacity: 0.5;  /* Ensure full opacity if needed */
  font-weight: 400;
}
.container {
  translate:0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image {
  padding-right: 10px;
}

.LoginBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.692);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.219);
  /* background: linear-gradient(rgba(0, 64, 255, 0.32), rgb(208, 208, 208)); */
  padding: 20px;
  height: 260px;
  width: 310px;
  gap: 40px;
  margin-top: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

/* .Logincontain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "playfair display";
  
} */
.button {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  
}

#email {
  border-radius: 20px;
  border-style: solid;
  border-color: #000000d2;
  padding: 5px;
  width: 100%; /* Ensures it takes the full width of the container */
  text-align: left; /* Aligns the text to the left */
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 250px;
  height: 30px;
  padding-left: 20px;
  background-color: transparent;
  color: #000000bc;
  font-weight: 800;
}
#password {
  border-radius: 20px;
  border-style: solid;
  border-color: #000000d2;
  padding: 5px;
  height: 30px;
  padding-left: 20px;
  background-color: transparent;
  color: #000000bc;
  font-weight: 800;
  
}
#Login {
  width: 100%; /* Ensures it takes the full width of the container */
  text-align: left; /* Aligns the text to the left */
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 13px;
  padding-top: 25px;
  font-size: 30px;
}

#Sign {
 border: none;
  padding: 5px;
  width: 100%;
  text-align: center;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 70px;
  height: 30px;
  margin-top: 15px;
  margin-left: 4px;
  background-color:transparent;
  font-weight: 900;
}

#Sign:hover{
  cursor: pointer;
  text-decoration: underline;}

  