* {
    margin: 0;
    padding: 0;
   
}
body {
  
  background: linear-gradient(to top,#1998ff, rgba(234, 250, 255, 0.623));
  background-attachment: fixed;
  margin: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;

}

#image{
padding-right: 10px;

}
.Games{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  color: rgb(0, 0, 0);
  width:fit-content;
  
}
#icon
{
  filter: grayscale(100%) brightness(0%);
}
.Cricket{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  cursor: pointer;
  
}
.Boxing{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}

.Basketball{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}

.Volley{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}
.Football{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  cursor: pointer;
}




#title{
  font-size: 40px;
  font-family:Handjet;
  text-transform: uppercase;
}
  #title:hover{
    text-shadow: 0px 0px 60px #ffffff;
    cursor: pointer;

  }
  h1{
    font-family:Lato;
          font-weight: 900;
          font-size: 39px;
          color: rgb(4, 0, 0);
  }
  h2{
    margin-top: 40px; font-size: 50px; font-family:Poppins
  }
  h3{
    font-family: Poppins , 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        font-weight: 500;
  }
  
  @media (max-width: 440px)
  {
    h1{
      font-size: 40px;
    }
    h2{
      padding-top: 30px;
      font-size: 30px;
    }
    h3{
      font-size: 20px;
    }
    #image{
      height: 50px;
    }
  }